body.extension-full-windowed.extension-full-windowed-enabled {
    overflow: hidden !important;
}

body.extension-full-windowed.extension-full-windowed-enabled #movie_player {
    position: fixed!important;
    z-index: 999999999999!important;
    bottom: 0px!important;
    right: 0px!important;
    left: 0px!important;
    top: 0px!important;
}

body.extension-full-windowed.extension-full-windowed-enabled .html5-video-container {
    height: 100% !important;
    width: 100% !important;
}

body.extension-full-windowed.extension-full-windowed-enabled .html5-video-container .html5-main-video {
    height: 100% !important;
    width: 100% !important;
    bottom: 0px !important;
    right: 0px !important;
    left: 0px !important;
    top: 0px !important;
}

body.extension-full-windowed.extension-full-windowed-enabled .html5-video-player .ytp-chrome-bottom {
    width: calc(100% - 24px) !important;
}

body.extension-full-windowed.extension-full-windowed-enabled .html5-video-player .ytp-chrome-bottom .ytp-size-button {
    display: none !important;
}

body.extension-full-windowed .ytp-full-windowed-button {
    overflow: visible !important;
    position: relative;
}

body.extension-full-windowed .ytp-full-windowed-button:hover:after {
    display: block;
    opacity: 1;
}

body.extension-full-windowed .ytp-full-windowed-button:after {
    background-color: rgba(25, 25, 25, .89);
    transition: opacity .1 ease-in-out;
    content: 'Full Windowed';
    transform: translateX(-50%);
    bottom: calc(100% + 14px);
    z-index: 5555555555;
    border-radius: 2px;
    position: absolute;
    padding: 2px 9px 0;
    line-height: 23px;
    font-weight: 500;
    white-space: pre;
    display: none;
    color: #eee;
    opacity: 0;
    left: 50%;
    margin: 0;
}

body.extension-full-windowed.extension-full-windowed-enabled .ytp-full-windowed-button:after {
    content: 'Exit Full Windowed';
    background-color: #191919;
}

body.extension-full-windowed.extension-full-windowed-enabled .ytp-popup.ytp-contextmenu {
    z-index: 7777777777 !important;
}

/*test*/
body.extension-full-windowed.extension-full-windowed-enabled #player.ytd-watch {
    box-sizing: border-box!important;
    width: 100%!important;
    height: calc((9/16)*100vw)!important;
    max-height: calc(100vh - 185px)!important;
    min-height: var(--flex854-mode-player-height)!important;
}


